<div class="card">
    <div class="card-header text-center">
        <img src="https://image.eveonline.com/types/12015/icon?size=32" width="25px" class="img-fluid rounded">
        <div style="display: inline-block; vertical-align:middle;">
            <b>Muninn</b>
            lost in 
            <b>F7C-H0</b>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td>
                        Killmail:
                    </td>
                    <td class="text-end">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/kill/119867443/">
                            119867443
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Requester:
                    </td>
                    <td class="text-end">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/character/2115356431/">
                            Meowlicious
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Requested on:
                    </td>
                    <td class="text-end">
                        2024-08-07
                        at
                        23:45
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td class="text-end">
                        Open
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRequestModal">
            <i class="fa-solid fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewRequestModal">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>