<div class="card" {% if cell == None %} style="visibility: hidden;" {% endif %}>
    <div class="card-header text-center">
        <img src="https://image.eveonline.com/types/{{ cell.ship_id }}/icon?size=32" width="25px" class="img-fluid rounded">
        <div style="display: inline-block; vertical-align:middle;">
            <b>{{ cell.ship_name }}</b>
            lost in 
            <b>{{ cell.system_name }}</b>
        </div>
    </div>
    <div class="card-body">
        <table class="table table-sm table-borderless">
            <tbody>
                <tr>
                    <td>
                        Killmail:
                    </td>
                    <td class="text-end">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/kill/119867443/">
                            {{ cell.killmail_id }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Requester:
                    </td>
                    <td class="text-end">
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/character/2115356431/">
                            {{ cell.character_name }}
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        Requested on:
                    </td>
                    <td class="text-end">
                        {{ cell.requested_on|date:"F j, Y" }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Status:
                    </td>
                    <td class="text-end">
                        Open
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-body-secondary d-flex justify-content-between">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRequestModal{{ cell.killmail_id }}">
            <i class="fa-solid fa-trash"></i>
        </button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#viewRequestModal{{ cell.killmail_id }}">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>

<div class="modal modal-lg" id="viewRequestModal{{ cell.killmail_id }}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">
            <img src="https://image.eveonline.com/types/{{ cell.ship_id }}/icon?size=32" class="img-fluid rounded">
            <div style="display: inline-block; vertical-align:middle;">
                <b>{{ cell.ship_name }}</b>
                lost in 
                <b>{{ cell.system_name }}</b>
                ({{ cell.constellation_name }}, {{ cell.region_name }})
            </div>
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-sm table-borderless">
                <tbody>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            Character:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/character/{{ cell.character_id }}/">
                                {{ cell.character_name }}
                            </a>
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Corporation:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/character/{{ cell.corporation_id }}/">
                                {{ cell.corporation_name }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            Alliance:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/alliance/{{ cell.alliance_id }}/">
                                {{ cell.alliance_name }}
                            </a>
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Killmail:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" target="_blank" href="https://zkillboard.com/kill/{{ cell.killmail_id }}/">
                                {{ cell.killmail_id }}
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            System:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            {{ cell.system_name }}
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Region:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            {{ cell.region_name }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            Date:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            {{ cell.killmail_time|date:"F j, Y" }}
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Time:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            {{ cell.killmail_time|time:"H:i" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            Ship:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            {{ cell.ship_name }}
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Handler:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            Harrat
                        </td>
                    </tr>
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            ISK Lost:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            75.000.000 ISK
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Status:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            PAID
                        </td>
                    </tr>
                    
                    <tr>
                        <td class="text-start" style="width: 25%;">
                            Reimbursement:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            70.000.000 ISK
                        </td>
                        <td class="text-start" style="width: 25%;">
                            Comment:
                        </td>
                        <td class="text-end" style="width: 25%;">
                            What the hell?!
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="accordion">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <div class="d-grid gap-2">
                        <button disabled class="btn btn-secondary" type="button">
                            Additional Information
                        </button>
                      </div>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {{ cell.broadcast|linebreaksbr }}
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" style="visibility: hidden;">Close</button>
        </div>
      </div>
    </div>
</div>

<div class="modal" id="deleteRequestModal{{ cell.killmail_id }}" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete this SRP request?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Modal body text goes here.</p>
        </div>
        <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
</div>