<div class="modal" tabindex="-1" id="submitRequestModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    <i class="fa-solid fa-hand-holding-dollar" style="margin-right: 0.25rem;"></i>
                    Submit Request
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'srppayouts:submit' %}">
                {% csrf_token %}
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">
                        Killmail:
                    </label>
                    <input type="text" class="form-control" placeholder="Killmail Link (zKillboard.com or kb.evetools.com)" name="killmail">
                    <div class="form-text">
                        Required: Go to your killmail on zKillboard.com or kb.evetools.com, copy the url and paste it here.
                    </div>                  
                  </div>
                  <div class="mb-3">
                    <label class="form-label">
                        Additional information:
                    </label>
                    <textarea class="form-control" placeholder="Ping, broadcast, or why did you die?" rows="5" name="broadcast"></textarea>
                    <div class="form-text">
                        Optional: Insert your fleet commander's ping or broadcast. Make sure to include all information, including when it was sent and who sent it.
                    </div>
                </div>
                
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="fa-solid fa-xmark"></i>
                    Close
                </button>
                <button type="submit" value="submit" class="btn btn-success">
                    <i class="fa-solid fa-clipboard-check"></i>
                    Submit
                </button>
            </div>
            </form>
        </div>
    </div>
</div>