<div class="card border-success">
    <h5 class="card-header">
        <img src="https://image.eveonline.com/types/12015/icon?size=32" width="32px" height="32px">
        <p class="align-middle" style="display: inline;">
            <a href="">Muninn</a> 
            lost in 
            <a href="">1QD1-A</a>
        </p>
        
    </h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Requester:
                    </div>
                    <div class="col">
                        <a href="https://zkillboard.com/character/2115356431/">
                            <div class="float-end align-middle">
                                Meowlicious
                                <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/2115356431/portrait?size=32" width="30px" height="30px">
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Reviewer:
                    </div>
                    <div class="col">
                        <div class="float-end">
                            Barathor Agma
                            <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/1530607479/portrait?size=128" width="30px" height="30px">
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Status:
                    </div>
                    <div class="col">
                        <div class="float-end">
                            {% if False %}
                            PAID
                            <i style="margin-left: 0.3rem;" class="fa-solid fa-check"></i>
                            {% else %}
                            REJECTED
                            <i style="margin-left: 0.3rem;" class="fa-solid fa-xmark"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Amount:
                    </div>
                    <div class="col">
                        <div class="float-end">
                            20.000.000 ISK
                        </div>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <a href="#" class="btn btn-secondary">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
            <div class="col">
                <a href="#" class="btn btn-primary float-end">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
    </div>
</div>