<div class="card border-success">
    <h5 class="card-header">
        <a class="text-decoration-none text-body" target="_blank" href="">
            <img src="https://image.eveonline.com/types/12015/icon?size=32" width="32px" height="32px">
            <p class="align-middle" style="display: inline;">
                Muninn lost in 1QD1-A
            </p>
        </a>
    </h5>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Requester:
                    </div>
                    <div class="col">
                        <a class="text-decoration-none text-body" target="_blank" href="https://zkillboard.com/character/2115356431/">
                            <div class="float-end align-middle">
                                Meowlicious
                                <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/2115356431/portrait?size=32" width="30px" height="30px">
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Reviewer:
                    </div>
                    <div class="col">
                        <a class="text-decoration-none text-body" target="_blank" href="https://zkillboard.com/character/1530607479/">
                            <div class="float-end">
                                Barathor Agma
                                <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/1530607479/portrait?size=128" width="30px" height="30px">
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Status:
                    </div>
                    <div class="col">
                        <div class="float-end align-middle">
                            {% if True %}
                            PAID
                            <i style="margin-left: 0.3rem;" class="fa-solid fa-check"></i>
                            {% else %}
                            REJECTED
                            <i style="margin-left: 0.3rem;" class="fa-solid fa-xmark"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col">
                        Amount:
                    </div>
                    <div class="col">
                        <div class="float-end">
                            20.000.000 ISK
                        </div>
                    </div>
                </div>
            </li>
        </ul>        
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col">
                <a data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn btn-secondary">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </div>
            <div class="col">
                <a data-bs-toggle="modal" data-bs-target="#detailsModal" class="btn btn-primary float-end">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Are you sure to delete this request?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            After deleting it, you can still request a reimbursement for this killmail. <br /> <br />
            Once the request has been processed, you won't be able to delete it.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary float-begin" data-bs-dismiss="modal">
                Close
            </button>
            <button type="button" class="btn btn-primary">
                Save changes
            </button>
        </div>
      </div>
    </div>
</div>

<!-- Details Modal -->
<div class="modal fade" id="detailsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
                Reimbursement Request Details #111406094
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-borderless align-middle">
                    <tbody>
                        <tr>
                            <td style="width: 25%;">
                                Ship:
                            </td>
                            <td class="text-end" style="width: 25%;">
                                <a target="_blank" class="text-decoration-none" href="">
                                    Muninn
                                    <img style="margin-left: 0.3rem;" src="https://image.eveonline.com/types/12015/icon?size=32">
                                </a>
                            </td>
                            <td style="width: 25%;">
                                System
                            </td>
                            <td class="text-end" style="width: 25%;">
                                <a target="_blank" class="text-decoration-none" href="https://evemaps.dotlan.net/system/1DQ1-A">
                                    1DQ1-A
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Requester
                            </td>
                            <td class="text-end">
                                <a target="_blank" class="text-decoration-none" href="">
                                    Meowlicious
                                    <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/2115356431/portrait?size=32">
                                </a>
                            </td>
                            <td>
                                Region
                            </td>
                            <td class="text-end">
                                <a target="_blank" class="text-decoration-none" href="https://evemaps.dotlan.net/system/1DQ1-A">
                                    Delve
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Reimburser
                            </td>
                            <td class="text-end">
                                <a target="_blank" class="text-decoration-none" href="">
                                    Barathor Agma
                                    <img style="margin-left: 0.3rem;" src="https://images.evetech.net/characters/1530607479/portrait?size=32">
                                </a>
                            </td>
                            <td>
                                Time
                            </td>
                            <td class="text-end">
                                2024-04-01
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Status
                            </td>
                            <td class="text-end">
                                {% if False %}
                                PAID
                                <i style="margin-left: 0.3rem;" class="fa-solid fa-check"></i>
                                {% else %}
                                REJECTED
                                <i style="margin-left: 0.3rem;" class="fa-solid fa-xmark"></i>
                                {% endif %}
                            </td>
                            <td>
                                zKillboard
                            </td>
                            <td class="text-end">
                                <a target="_blank" class="text-decoration-none" href="https://zkillboard.com/kill/111406094/">
                                    111406094
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount
                            </td>
                            <td class="text-end">
                                10.000.000 ISK
                            </td>
                            <td>
                                ESI
                            </td>
                            <td class="text-end">
                                <a target="_blank" class="text-decoration-none" href="https://esi.evetech.net/latest/killmails/111406094/a1c152807e0b427635c0f1f39aa1fb746e25cef3/">
                                    111406094
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="accordion">
                    <div class="accordion-item">
                      <div class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <h4>
                                Fleet Ping:
                            </h4>
                            <hr>
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <div class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingTwo">
                        <div class="accordion-body">
                            <h4>
                                Comment By Reimburser:
                            </h4>
                            <hr>
                            What a shitty fit
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
  