{% extends 'srppayouts/base.html' %}
{% load i18n %}
{% load humanize %}

{% block details %}
<table class="table">
    <thead>
      <tr>
        <th>Capsuleer</th>
        <th>Link</th>
        <th>Ship</th>
        <th>Loss</th>
        <th>Requested On</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            Meowlicious
        </td>
        <td>
            <span class="badge text-bg-secondary">
                Link
            </span>
        </td>
        <td>
            Sabre
        </td>
        <td>
            70.000.000 ISK
        </td>
        <td>
            2024-09-08
        </td>
        <td>
            
        </td>
      </tr>
    </tbody>
</table>
{% endblock %}