{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}
{% load navactive %}

{% block page_title %}
    SRP Payouts
{% endblock %}

{% block content %}

    {% block details %}{% endblock %}

    <!-- Modal for sending SRP requests -->
    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Submit Request</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'srppayouts:submit_request' %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div style="margin-bottom: 1rem;">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="killmail">
                            <label>Killmail:</label>
                            <div class="form-text" style="margin-left: 0.1rem;">
                                You can use zKillboard.com or kb.evetools.org killmails, as well as ESI killmails links
                            </div>
                        </div> 
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" name="ping" rows="5" style="height: 100%;"></textarea>
                        <label>Fleet Ping:</label>
                        <div class="form-text" style="margin-left: 0.1rem;">
                            Copy & paste your FC's ping. Make sure to copy the entire ping, including your FC's name
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
          </div>
        </div>
    </div>
      
{% endblock %}

{% block header_nav_collapse_left %}
<li class="nav-item">
    <a class="nav-link {% navactive request 'srppayouts:view_payouts' %}" href="{% url 'srppayouts:view_payouts' %}">
        View Payouts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% navactive request 'srppayouts:my_requests' %}" href="{% url 'srppayouts:my_requests' %}">
        My Requests
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#submitModal">
        Submit Request
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'srppayouts:view_statistics' %}">
        Statistics
    </a>
</li>
{% endblock %}

{% block header_nav_collapse_right %}
{% if is_admin or is_manager or is_reimburser %}
{% if False %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Command
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">
                Create SRP Link
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                View SRP Links
            </a>
        </li>
    </ul>
</li>
{% endif %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Reimbursement
    </a>
    <ul class="dropdown-menu">
        {% if is_reimburser %}
        <li>
            <a class="dropdown-item" href="{% url 'srppayouts:reimburse_open_requests' %}">
                Open Requests
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'srppayouts:reimburse_closed_requests' %}">
                Closed Requests
            </a>
        </li>
        {% endif %}
        {% if is_manager %}
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'srppayouts:manager_change_payouts' %}">
                Change Payouts
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="{% url 'srppayouts:admin_force_recalc' %}">
                Force Recalculation
            </a>
        </li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% endblock %}