{% extends 'allianceauth/base-bs5.html' %}
{% load i18n %}
{% load navactive %}

{% block page_title %}
    SRP Payouts
{% endblock %}

{% block content %}
    {% block details %}{% endblock %}

    <!-- Modal for sending SRP requests -->
    <div class="modal fade" id="submitModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Submit Request</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'srppayouts:submit_request' %}" method="post">
                <div class="modal-body">
                    <div style="margin-bottom: 1rem;">
                        <div class="form-floating">
                            <input type="text" class="form-control" name="killmail">
                            <label>Killmail:</label>
                            <div class="form-text" style="margin-left: 0.1rem;">
                                You can use zKillboard.com, kb.evetools.org or ESI killmails
                            </div>
                        </div> 
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control" name="ping" rows="5" style="height: 100%;"></textarea>
                        <label>Ping:</label>
                        <div class="form-text" style="margin-left: 0.1rem;">
                            Copy & paste your FC's ping
                        </div>
                    </div>                
                    <!--<div class="input-group mb-3">
                        <span class="input-group-text" style="width: 6rem;">Killmail:</span>
                        <input type="text" class="form-control" name="killmail" aria-describedby="basic-addon3">
                    </div>                  
                    <div class="input-group">
                        <span class="input-group-text" style="width: 6rem;">Fleet Ping:</span>
                        <textarea class="form-control" name="ping" rows="5"></textarea>
                    </div>-->
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
          </div>
        </div>
    </div>
      
{% endblock %}

{% block header_nav_collapse_left %}
<li class="nav-item">
    <a class="nav-link {% navactive request 'srppayouts:view_payouts' %}" href="{% url 'srppayouts:view_payouts' %}">
        View Payouts
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {% navactive request 'srppayouts:my_requests' %}" href="{% url 'srppayouts:my_requests' %}">
        My Requests
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#submitModal">
        Submit Request
    </a>
</li>
{% endblock %}

{% block header_nav_collapse_right %}
{% if is_admin %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'srppayouts:force_recalc' %}">
        Force Recalculation
    </a>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu">
        <li>
            <a class="dropdown-item" href="#">
                Create SRP Link
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                View SRP Links
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="#">
                Open Requests
            </a>
        </li>
        <li>
            <a class="dropdown-item" href="#">
                Closed Requests
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <a class="dropdown-item" href="#">
                Force Recalculation
            </a>
        </li>
    </ul>
</li>
{% endif %}
{% endblock %}