{% extends 'srppayouts/base.html' %}
{% load i18n %}
{% load humanize %}
{% load icons_tags %}

{% block details %}
{% if False %}
<div class="row">
    <div class="col">
        {% include 'srppayouts/modules/_requests_card.html' %}
    </div>
    <div class="col">
        {% include 'srppayouts/modules/_requests_card.html' %}
    </div>
    <div class="col">
        {% include 'srppayouts/modules/_requests_card.html' %}
    </div>
    <div class="col">
        {% include 'srppayouts/modules/_requests_card.html' %}
    </div>
</div>
{% endif %}

<div class="row">
    {% for row in user_requests %}
        <div class="col">
            {% include 'srppayouts/modules/_requests_card.html' %}
        </div>
    {% endfor %}
</div>
{% endblock %}